---
const title = 'Carlo Carpio';
const subtitle = 'Technical Test';
---

<header class="p-2">
  <div class="bg-primary container mx-auto flex items-center justify-between gap-10 py-4 px-6 w-full rounded-xl">
    <a href="/" class="flex items-center gap-3">
      <h2 class="text-white font-bold uppercase">{title}</h2>
    </a>
    <div class="flex items-center gap-10">
      <h4 class="text-white">{subtitle}</h4>
    </div>
  </div>
</header>